{% extends 'base.html' %}
{% load static %}

{% block script %}
    {% comment %} Twitter {% endcomment %}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    {% comment %} Facebook {% endcomment %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v10.0" nonce="4qo22oLU"></script>
{% endblock script %}

{% block title %}Contacto | RPA{% endblock title %}

{% if request.path == '/contacto/' %}
    {% block contactomenu %}active active--color{% endblock contactomenu %}
    {% block fondo %}
        style="background-image: url('..{% static 'img/fondos/contacto.jpg' %}');"
    {% endblock fondo %}
    {% block main %}position-relative espaciado principal{% endblock main %}
{% endif %}

{% block header %}
    <div class="row position-relative titulo-portada portada">
        <h1 class="text-white fw-bold titulo-portada__title">Consultas</h1>
        <div class="text-white titulo-portada__text">
            
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-12 position-absolute start-50 translate-middle contacto">
            <div class="contacto__information d-flex flex-column">
                <p class="text-center text-white contacto__title">Escríbanos formulando su consulta por cualquiera de los siguientes medios, que nosotros le responderemos inmediatamente:</p>
                <div class="social__container">
                    <a class="social__link social__link--desktop social__link--size" href=""><i class="fab fa-facebook-square"></i></a>
                    <a class="social__link social__link--desktop social__link--size" href=""><i class="fab fa-twitter-square"></i></a>
                    <a class="social__link social__link--desktop social__link--size" href=""><i class="fab fa-facebook-messenger"></i></a>
                    <a class="social__link social__link--desktop social__link--size" href=""><i class="fab fa-whatsapp"></i></a>
                    <a class="social__link social__link--desktop social__link--size" href=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="contacto__street">
                <h1 class="fw-bold mb-3">Contacto</h1>
                <div class="d-flex flex-column contacto__containerstreet">
                    <div class="d-flex">
                        <i class="fas fa-map-marker-alt pie-pagina__icon"></i><span>Jr. Lampa Nro. 879  Oficinas 504 - 506 Cercado de Lima (Perú)</span>
                    </div>
                    <div class="d-flex">
                        <i class="fas fa-phone-volume pie-pagina__icon"></i><span>(01)4261037 - 987407711</span>
                    </div>
                    <a class="contacto__email" href=""><i class="fas fa-envelope pie-pagina__icon contacto__icon"></i>pariona@rpa.pe</a>
                </div>
            </div>
            <div class="ratio ratio-16x9 contacto__map">
                <iframe class="contacto__iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1950.827959972655!2d-75.22281225888214!3d-12.067178705638117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1621815331679!5m2!1ses-419!2spe" width="800" height="1800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
{% endblock content %}