{% extends 'base.html' %}
{% load static %}

{% block script %}
    {% comment %} Twitter {% endcomment %}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    {% comment %} Facebook {% endcomment %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v10.0" nonce="4qo22oLU"></script>
{% endblock script %}

{% block title %}Contacto | RPA{% endblock title %}

{% if request.path == '/contacto/' %}
    {% block contactomenu %}active active--color{% endblock contactomenu %}
    {% block fondo %}
        style="background-image: url('..{% static 'img/fondos/contacto.jpg' %}');"
    {% endblock fondo %}
    {% block main %}position-relative espaciado principal{% endblock main %}
    {% block oscuridad %}oscuridad{% endblock oscuridad %}
{% endif %}

{% block header %}
    <div class="row position-relative titulo-portada portada">
        <div class="text-white titulo-portada__text">
            
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-12 position-absolute start-50 translate-middle contacto">
            <div class="contacto__information d-flex flex-column">
                <p class="text-center text-white contacto__title">Escríbanos formulando su consulta por cualquiera de los siguientes medios, que nosotros le responderemos inmediatamente:</p>
                <div class="social__container">
                    <a class="social__link social__link--desktop social__link--size" target="_blank" href="https://www.facebook.com/pariona.abogados"><i class="fab fa-facebook-square"></i></a>
                    <a class="social__link social__link--desktop social__link--size" target="_blank" href="https://twitter.com/ParionaAbogados"><i class="fab fa-twitter-square"></i></a>
                    <a class="social__link social__link--desktop social__link--size" target="_blank" href="https://m.me/pariona.abogados"><i class="fab fa-facebook-messenger"></i></a>
                    <a class="social__link social__link--desktop social__link--size" target="_blank" href="https://api.whatsapp.com/send?phone=51915154298"><i class="fab fa-whatsapp"></i></a>
                    <a class="social__link social__link--desktop social__link--size" target="_blank" href="https://www.linkedin.com/company/estudio-pariona-abogados/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="contacto__street">
                <h1 class="fw-bold mb-3">Contacto</h1>
                <div class="d-flex flex-column contacto__containerstreet">
                    <div class="d-flex lh-lg">
                        <i class="fas fa-map-marker-alt pie-pagina__icon"></i><span>Jr. Lampa Nro. 879  Oficinas 504 - 506 Cercado de Lima (Perú)</span>
                    </div>
                    <div class="d-flex lh-lg">
                        <i class="fas fa-phone-volume pie-pagina__icon"></i><span>(01)4261037 - 915154298</span>
                    </div>
                    <a class="contacto__email lh-lg" href="mailto:pariona@rpa.pe"><i class="fas fa-envelope pie-pagina__icon contacto__icon"></i>pariona@rpa.pe</a>
                </div>
            </div>
            <div class="ratio ratio-16x9 contacto__map">
                <iframe class="contacto__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.4692147813673!2d-77.03298627076606!3d-12.051992687921588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8b79322f111%3A0x7663180bbbf6af42!2sPariona%20Abogados!5e0!3m2!1ses!2spe!4v1631391426408!5m2!1ses!2spe" width="800" height="1800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
{% endblock content %}