{% extends 'base.html' %}
{% load static %}

{% block script %}
    {% comment %} Twitter {% endcomment %}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    {% comment %} Facebook {% endcomment %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v10.0" nonce="4qo22oLU"></script>
{% endblock script %}

{% block title %}La Firma | RPA{% endblock title %}

{% if request.path == '/firma/' %}
    {% block firmamenu %}active active--color{% endblock firmamenu %}
    {% block fondo %}
        {% for firma in firmas|slice:":1" %}
        style="background-image: url('..{{ firma.image_background.url }}');"
        {% comment %} style="background-image: url('..{% static 'img/fondos/firma.jpg' %}');" {% endcomment %}
        {% endfor %}
    {% endblock fondo %}
    {% block main %}firma{% endblock main %}
{% endif %}

 {% block header %}
    <div class="row position-relative portada">
        {% for firma in firmas %}
        <h1 class="text-white titulo-portada__title">{{ firma.title }}</h1>
        <div class="text-white titulo-portada__text">
            {{ firma.summary }}
        </div>
        {% endfor %}
    </div>
{% endblock header %}

 
{% block social-movil %}
     <div class="col-12 col-lg-2 social social--movil d-inline-block d-lg-none">
        <a class="social__link social__link--size" target="_blank" href="https://www.facebook.com/pariona.abogados"><i class="fab fa-facebook-square"></i></a>
        <a class="social__link social__link--size" target="_blank" href="https://twitter.com/ParionaAbogados"><i class="fab fa-twitter-square"></i></a>
        <a class="social__link social__link--size" target="_blank" href="https://m.me/pariona.abogados"><i class="fab fa-facebook-messenger"></i></a>
        <a class="social__link social__link--size" target="_blank" href="https://api.whatsapp.com/send?phone=51915154298"><i class="fab fa-whatsapp"></i></a>
        <a class="social__link social__link--size" target="_blank" href="https://www.linkedin.com/company/estudio-pariona-abogados/"><i class="fab fa-linkedin"></i></a>
    </div>
{% endblock social-movil %}
     

{% block content %}
    {% for firma in firmas %}
    <section class="py-5 fundador">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-lg-3 fw-bold text-lg-center">Fundador</h1>
                <p class="mb-lg-4 fundador__description">{{ firma.description_founder }}</p>
            </div>
            <div class="col-12 col-lg-4">
                <img loading="lazy" class="img-fluid rounded" src="{% static 'img/firma/raul-pariona-firma.jpg' %}" alt="">
            </div>
            <div class="col-12 col-lg-8 ps-lg-4 d-lg-flex flex-column">
                <h1 class="mt-2 mt-lg-0 mb-0 fw-bold fundador__name">Raúl Pariona Arana</h1>
                <h5 class="mb-3">Socio fundador</h5>
                <div class="mb-3 mb-lg-3 fundador__history">
                    {{ firma.partner }}
                </div>
                <a class="btn btn-primary btn-rpa" href="{% url 'equipo:equipo' %}raul-pariona-arana/#raul-pariona-arana">Ver perfil</a>
            </div>
        </div>
    </section>
    <section class="py-5 valores">
        <div class="row">
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <div class="p-4 p-lg-5 rounded valores__container d-flex flex-column">
                    <i class="fas fa-hands align-self-center text-white mb-2 valores__icon"></i>
                    <h5 class="align-self-center text-white text-center fw-bold mb-4 valores__title">Valores</h5>
                    <p class="mb-0 text-center text-white valores__description">{{ firma.value_firma }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <div class="p-4 p-lg-5 rounded valores__container d-flex flex-column">
                    <i class="far fa-handshake align-self-center text-white mb-2 valores__icon"></i>
                    <h5 class="align-self-center text-white text-center fw-bold mb-4 valores__title">Responsabilidad social</h5>
                    <p class="mb-0 text-center text-white valores__description">{{ firma.responsibility_firma }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-4 p-lg-5 rounded valores__container d-flex flex-column">
                    <i class="fas fa-globe align-self-center text-white mb-2 valores__icon"></i>
                    <h5 class="align-self-center text-white text-center fw-bold mb-4 valores__title">Red nacional e internacional</h5>
                    <p class="mb-0 text-center text-white valores__description">{{ firma.red_firma }}</p>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock content %}