{% extends 'base.html' %}
{% load static %}

{% block script %}
    {% comment %} Twitter {% endcomment %}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    {% comment %} Facebook {% endcomment %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v10.0" nonce="4qo22oLU"></script>
{% endblock script %}

{% block title %}Cátedra | RPA{% endblock title %}

{% block meta %}
    <meta property="og:url"           content="http://www.rpa.pe{% url 'catedra:catedra' %}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Cátedra" />
    <meta property="og:description"   content="Un espacio para la reflexión académica de los diversos problemas que importa el Derecho y su aplicación práctica en la administración de Justicia." />
{% endblock meta %}

{% if request.path == '/catedra/' %}
    {% block catedramenu %}active active--color{% endblock catedramenu %}
    {% block fondo %}
        style="background-image: url('..{% static 'img/fondos/catedra.jpg' %}');"
    {% endblock fondo %}
    {% block main %}espaciado{% endblock main %}
{% endif %}

 {% block header %}
    <div class="row position-relative titulo-portada portada">
        <h1 class="text-white titulo-portada__title">Cátedra</h1>
        <div class="text-white titulo-portada__text">
            Un espacio para la reflexión académica de los diversos problemas que importa el Derecho y su aplicación práctica en la administración de Justicia.
        </div>
    </div>
 {% endblock header %}

 
 {% block content %}
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-3 shadow component-tab__ul bg-white" id="pills-tab" role="tablist">
            {% for categoria in categorias %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold publicacion-inicio__button {% if forloop.first %}active{% endif %}" id="pills-{{ categoria.slug }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ categoria.slug }}" type="button" role="tab" aria-controls="pills-{{ categoria.slug }}" aria-selected="true">{{ categoria.name }}</button>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-12">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-cursos" role="tabpanel" aria-labelledby="pills-cursos-tab">
                    <div class="rounded catedra">
                        <div class="row mb-3">
                        {% for principal in cursos|slice:":1" %}
                            <div class="col-12 d-flex flex-column flex-lg-row">
                                <img class="catedra__img" src="{{ principal.photo.url }}" alt="">
                                <div class="bg-white p-4 p-xxl-5 catedra__container">
                                    <h1 class="mb-4 mb-lg-2 mb-xl-4 fw-bold catedra__title">{{ principal.title }}</h1>
                                    <div class="d-flex flex-column flex-lg-row mb-4 mb-lg-2 mb-xl-4">
                                        <div class="w-100 mb-0 catedra__summary">{{ principal.description|safe }}</div>
                                        <div class="w-100 ps-3">
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                                                <div>
                                                    <span>Fecha</span>
                                                    <p>{{ principal.date }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                                                <div>
                                                    <span>Duración</span>
                                                    <p>{{ principal.duration }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share">
                                        <a href="{% url 'catedra:detalle' principal.slug %}" class="btn btn-primary share__button me-3">Más información</a>
                                        <a class="share__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://167.99.119.117{% url 'catedra:detalle' principal.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square share__icon share__icon--facebook"></i></a>
                                        <a class="share__link" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ principal.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' principal.slug %}"><i class="fab fa-twitter-square share__icon share__icon--twitter"></i></a>
                                        <a class="share__link" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' principal.slug %}"><i class="fab fa-whatsapp share__icon share__icon--whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="row">
                        {% for secundario in cursos|slice:"1:" %}
                            <div class="col-12 col-lg-4">
                                <img class="img-fluid catedra__img catedra__img--thumbnail" src="{{ secundario.photo.url }}" alt="">
                                <div class="bg-white p-4 catedra__container catedra__container--thumbnail">
                                    <h1 class="mb-4 mb-lg-2 mb-xl-4 fw-bold catedra__title">{{ secundario.title }}</h1>
                                    <div class="d-flex flex-column flex-lg-row mb-4 mb-lg-2 mb-xl-4">
                                        <div class="w-100 ps-3">
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                                                <div>
                                                    <span>Fecha</span>
                                                    <p>{{ secundario.date }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                                                <div>
                                                    <span>Duración</span>
                                                    <p>{{ secundario.duration }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share">
                                        <a href="{% url 'catedra:detalle' secundario.slug %}" class="btn btn-primary share__button me-3">Más información</a>
                                        <a class="share__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square share__icon share__icon--facebook"></i></a>
                                        <a class="share__link" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ secundario.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}"><i class="fab fa-twitter-square share__icon share__icon--twitter"></i></a>
                                        <a class="share__link" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}"><i class="fab fa-whatsapp share__icon share__icon--whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="pills-seminarios" role="tabpanel" aria-labelledby="pills-seminarios-tab">
                    <div class="rounded catedra">
                        <div class="row mb-3">
                        {% for principal in seminarios|slice:":1" %}
                            <div class="col-12 d-flex flex-column flex-lg-row">
                                <img class="catedra__img" src="{{ principal.photo.url }}" alt="">
                                <div class="bg-white p-4 p-xxl-5 catedra__container">
                                    <h1 class="mb-4 mb-lg-2 mb-xl-4 fw-bold catedra__title">{{ principal.title }}</h1>
                                    <div class="d-flex flex-column flex-lg-row mb-4 mb-lg-2 mb-xl-4">
                                        <div class="w-100 mb-0 catedra__summary">{{ principal.description|safe }}</div>
                                        <div class="w-100 ps-3">
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                                                <div>
                                                    <span>Fecha</span>
                                                    <p>{{ principal.date }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                                                <div>
                                                    <span>Duración</span>
                                                    <p>{{ principal.duration }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share">
                                        <a href="{% url 'catedra:detalle' principal.slug %}" class="btn btn-primary share__button me-3">Más información</a>
                                        <a class="share__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://167.99.119.117{% url 'catedra:detalle' principal.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square share__icon share__icon--facebook"></i></a>
                                        <a class="share__link" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ principal.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' principal.slug %}"><i class="fab fa-twitter-square share__icon share__icon--twitter"></i></a>
                                        <a class="share__link" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' principal.slug %}"><i class="fab fa-whatsapp share__icon share__icon--whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="row">
                        {% for secundario in seminarios|slice:"1:" %}
                            <div class="col-12 col-lg-4">
                                <img class="img-fluid catedra__img catedra__img--thumbnail" src="{{ secundario.photo.url }}" alt="">
                                <div class="bg-white p-4 catedra__container catedra__container--thumbnail">
                                    <h1 class="mb-4 mb-lg-2 mb-xl-4 fw-bold catedra__title">{{ secundario.title }}</h1>
                                    <div class="d-flex flex-column flex-lg-row mb-4 mb-lg-2 mb-xl-4">
                                        <div class="w-100 ps-3">
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                                                <div>
                                                    <span>Fecha</span>
                                                    <p>{{ secundario.date }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                                                <div>
                                                    <span>Duración</span>
                                                    <p>{{ secundario.duration }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share">
                                        <a href="{% url 'catedra:detalle' secundario.slug %}" class="btn btn-primary share__button me-3">Más información</a>
                                        <a class="share__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square share__icon share__icon--facebook"></i></a>
                                        <a class="share__link" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ secundario.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}"><i class="fab fa-twitter-square share__icon share__icon--twitter"></i></a>
                                        <a class="share__link" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}"><i class="fab fa-whatsapp share__icon share__icon--whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="pills-conversatorios" role="tabpanel" aria-labelledby="pills-conversatorios-tab">
                    <div class="rounded catedra">
                        <div class="row mb-3">
                        {% for principal in conversatorios|slice:":1" %}
                            <div class="col-12 d-flex flex-column flex-lg-row">
                                <img class="catedra__img" src="{{ principal.photo.url }}" alt="">
                                <div class="bg-white p-4 p-xxl-5 catedra__container">
                                    <h1 class="mb-4 mb-lg-2 mb-xl-4 fw-bold catedra__title">{{ principal.title }}</h1>
                                    <div class="d-flex flex-column flex-lg-row mb-4 mb-lg-2 mb-xl-4">
                                        <div class="w-100 mb-0 catedra__summary">{{ principal.description|safe }}</div>
                                        <div class="w-100 ps-3">
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                                                <div>
                                                    <span>Fecha</span>
                                                    <p>{{ principal.date }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                                                <div>
                                                    <span>Duración</span>
                                                    <p>{{ principal.duration }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share">
                                        <a href="{% url 'catedra:detalle' principal.slug %}" class="btn btn-primary share__button me-3">Más información</a>
                                        <a class="share__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://167.99.119.117{% url 'catedra:detalle' principal.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square share__icon share__icon--facebook"></i></a>
                                        <a class="share__link" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ principal.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' principal.slug %}"><i class="fab fa-twitter-square share__icon share__icon--twitter"></i></a>
                                        <a class="share__link" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' principal.slug %}"><i class="fab fa-whatsapp share__icon share__icon--whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="row">
                        {% for secundario in conversatorios|slice:"1:" %}
                            <div class="col-12 col-lg-4">
                                <img class="img-fluid catedra__img catedra__img--thumbnail" src="{{ secundario.photo.url }}" alt="">
                                <div class="bg-white p-4 catedra__container catedra__container--thumbnail">
                                    <h1 class="mb-4 mb-lg-2 mb-xl-4 fw-bold catedra__title">{{ secundario.title }}</h1>
                                    <div class="d-flex flex-column flex-lg-row mb-4 mb-lg-2 mb-xl-4">
                                        <div class="w-100 ps-3">
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                                                <div>
                                                    <span>Fecha</span>
                                                    <p>{{ secundario.date }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                                                <div>
                                                    <span>Duración</span>
                                                    <p>{{ secundario.duration }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share">
                                        <a href="{% url 'catedra:detalle' secundario.slug %}" class="btn btn-primary share__button me-3">Más información</a>
                                        <a class="share__link" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square share__icon share__icon--facebook"></i></a>
                                        <a class="share__link" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ secundario.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}"><i class="fab fa-twitter-square share__icon share__icon--twitter"></i></a>
                                        <a class="share__link" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' secundario.slug %}"><i class="fab fa-whatsapp share__icon share__icon--whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 {% endblock content %}
     