{% extends 'base.html' %}
{% load static %}

{% block title %}{{ detalle.title }} | RPA{% endblock title %}

{% block meta %}
    <meta property="og:url"           content="http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ detalle.title }}" />
    <meta property="og:description"   content="{{ detalle.description|safe }}" />
    <meta property="og:image"         content="{{ detalle.photo.url }}" />
{% endblock meta %}

{% if request.path == '/catedra/'|add:detalle.slug|add:"/" %}
    {% block catedramenu %}active active--color{% endblock catedramenu %}
    {% block fondo %}
        style="background-image: url('{{ detalle.photo.url }}');"
    {% endblock fondo %}
    {% block main %}espaciado{% endblock main %}
{% endif %}

{% block header %}
<div class="row position-relative titulo-portada portada">
    <div class="share mb-4">
        <a href="#" class="btn btn-primary share__button share__button--category">{{ detalle.categorias }}</a>
    </div>
    <h1 class="fw-bold lh-sm text-white" href="">{{ detalle.title }}</h1>
</div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-9 mb-3 mb-lg-0">
            <div class=" publicacion-contenido rounded">
                <div class="p-4">
                    {{ detalle.description|safe }}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="publicacion-autor rounded">
                <div class="publicacion-autor__card ps-5">
                    <div class="d-flex">
                        <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                        <div>
                            <span>Fecha</span>
                            <p>{{ detalle.date }}</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                        <div>
                            <span>Duración</span>
                            <p>{{ detalle.duration }}</p>
                        </div>
                    </div>
                </div>
                <div class="rounded-bottom publicacion-autor__share">
                    <div class="share d-lg-flex flex-lg-column">
                        <div class="mt-lg-2">
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://167.99.119.117{% url 'catedra:detalle' detalle.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ detalle.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}"><i class="fab fa-twitter-square"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="fb-messenger://share/?link=http%3A%2F%www.rpa.pe%2F{% url 'catedra:detalle' detalle.slug %}&app_id=461521414055119"><i class="fab fa-facebook-messenger"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}"><i class="fab fa-whatsapp"></i></a>
                            <a class="social__link social__link social__link--detailpubli" target="_blank" onclick="getLink({{ detalle.id }})"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning alert-dismissible fade show animate__animated d-none" role="alert" id="{{ detalle.id }}">
                    <strong>Enlace copiado!</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

