{% extends 'base.html' %}
{% load static %}

{% block title %}{{ detalle.title }} | RPA{% endblock title %}

{% block meta %}
    <meta property="og:url"           content="http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ detalle.title }}" />
    <meta property="og:description"   content="{{ detalle.description }}" />
    <meta property="og:image"         content="{{ detalle.photo.url }}" />
{% endblock meta %}

{% if request.path == '/catedra/'|add:detalle.slug|add:"/" %}
    {% block catedramenu %}active active--color{% endblock catedramenu %}
    {% block fondo %}
        style="background-image: url('{{ detalle.photo.url }}');"
    {% endblock fondo %}
    {% block main %}espaciado{% endblock main %}
{% endif %}

{% block header %}
<div class="row position-relative titulo-portada portada portada--actualidad">
    <div class="share mb-4">
        <a href="#" class="btn btn-primary share__button share__button--category">{{ detalle.categorias }}</a>
    </div>
    <h1 class="fw-bold lh-sm text-white" href="">{{ detalle.title }}</h1>
    <div class="text-white portada__text">
        {{ detalle.summary|safe }}
    </div>
</div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-9 mb-3 mb-lg-0 catedra-detalle">
            <h2 class="fw-bold">Presentación</h2>
            <div class="mt-3 mb-5">
                {{ detalle.description|safe }}
            </div>
            <div class="publicacion-contenido rounded mb-3 heredar">
                <h2 class="fw-bold mx-5 pt-5">Datos</h2>
                <div class="d-flex px-5 pt-4">
                    <div class="d-flex flex-column w-50">
                        <div class="d-flex">
                            <i class="text-danger far fa-calendar-alt fa-lg"></i>
                            <div class="ps-3">
                                <p class="fw-bold">Fecha:</p>
                                <p>{{ detalle.date }}</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="text-danger fas fa-hourglass-half fa-lg"></i>
                            <div class="ps-3">
                                <p class="fw-bold">Duración:</p>
                                <p>{{ detalle.duration }}</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="text-danger fas fa-map-marker-alt fa-lg"></i>
                            <div class="ps-3">
                                <p class="fw-bold">Modalidad:</p>
                                <p>{{ detalle.modality }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column w-50 border-start ps-3">
                        <div class="d-flex">
                            <i class="text-danger far fa-clock fa-lg"></i>
                            <div class="ps-3">
                                <p class="fw-bold">Horario:</p>
                                <p>{{ detalle.schedule }}</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="text-danger fas fa-coins fa-lg"></i>
                            <div class="ps-3">
                                <p class="fw-bold">Costo:</p>
                                <p>{{ detalle.cost }}</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <i class="text-danger fas fa-user fa-lg"></i>
                            <div class="ps-3">
                                <p class="fw-bold">Dirigido a:</p>
                                <p>{{ detalle.guided }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-xl-row px-5 py-5">
                    <a class="btn btn-primary catedra-detalle__button" target="_blank" href="https://api.whatsapp.com/send?phone={{ detalle.contact_number }}">Más información e inscripciones</a>
                    <div class="d-flex justify-content-center align-items-center mt-4 mt-xl-0 ms-0 ms-xl-4">
                        <a class="btn btn-primary" target="_blank" href="https://api.whatsapp.com/send?phone={{ detalle.contact_number }}"><i class="fab fa-whatsapp"></i> {{ detalle.contact_number }}</a>
                    </div>
                </div>
            </div>
            {% if detalle.syllabus %}
            <div class="publicacion-contenido publicacion-contenido--catedra rounded border-catedra mb-3 heredar">
                <div class="d-flex flex-column px-5 py-5">
                    <h2 class="fw-bold">Plan de estudios</h2>
                    <div class="p-3">
                        {{ detalle.syllabus|safe }}
                    </div>
                </div>
            </div>    
            {% endif %}
            <div class="publicacion-contenido publicacion-contenido--catedra rounded border-catedra mb-3 heredar">
                <div class="d-flex flex-column px-5 py-5">
                    {% if detalle.categorias.slug  == 'cursos' %}
                        {% if speakers|length >= 2 %}
                        <h2 class="fw-bold">Docentes</h2>
                        {% else %}
                        <h2 class="fw-bold">Docente</h2>
                        {% endif %}
                    {% else %}
                        {% if speakers|length >= 2 %}
                        <h2 class="fw-bold">Expositores</h2>
                        {% else %}
                        <h2 class="fw-bold">Expositor</h2>
                        {% endif %}
                    {% endif %}
                    {% for speaker in speakers %}
                    <div class="p-3">
                        <p class="fw-bold">{{ speaker.name }}</p>
                        <div class="d-flex flex-column flex-lg-row">
                            <div class="catedra-detalle__ponente pe-2">
                                {{ speaker.description|safe }}
                            </div>
                            <div class="mx-auto">
                                <img class="rounded-circle publicacion-autor__img" src="{{ speaker.image.url }}" alt="{{ speaker.name }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if detalle.profit %}
            <div class="publicacion-contenido publicacion-contenido--catedra rounded border-catedra mb-3 heredar">
                <div class="d-flex flex-column px-5 py-5">
                    <h2 class="fw-bold">Beneficios</h2>
                    <div class="p-3">
                        {{ detalle.profit|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if detalle.cathedra %}
            <div class="publicacion-contenido publicacion-contenido--catedra rounded border-catedra heredar">
                <div class="d-flex flex-column px-5 py-5">
                    <h2 class="fw-bold">El enfoque de aprendizaje de Cátedra</h2>
                    <div class="p-3">
                        {{ detalle.cathedra|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-3">
            <div class="publicacion-autor rounded">
                <div class="publicacion-autor__card">
                    <div class="d-flex ps-0 ps-lg-2">
                        <i class="text-danger align-self-center pe-3 far fa-calendar-alt fa-2x"></i>
                        <div>
                            <span>Fecha</span>
                            <p>{{ detalle.date }}</p>
                        </div>
                    </div>
                    <div class="d-flex ps-0 ps-lg-2">
                        <i class="text-danger align-self-center pe-3 far fa-clock fa-2x"></i>
                        <div>
                            <span>Duración</span>
                            <p>{{ detalle.duration }}</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-4">
                    <a class="btn btn-primary catedra-detalle__button" target="_blank"href="https://api.whatsapp.com/send?phone={{ detalle.contact_number }}">Inscripciones</a>
                </div>
                <div class="rounded-bottom publicacion-autor__share">
                    <div class="share d-lg-flex flex-lg-column justify-content-center">
                        <div class="mt-lg-2">
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ detalle.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}"><i class="fab fa-twitter-square"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="fb-messenger://share/?link=http%3A%2F%www.rpa.pe%2F{% url 'catedra:detalle' detalle.slug %}&app_id=461521414055119"><i class="fab fa-facebook-messenger"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'catedra:detalle' detalle.slug %}"><i class="fab fa-whatsapp"></i></a>
                            <a class="social__link social__link social__link--detailpubli" target="_blank" onclick="getLink({{ detalle.id }})"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning alert-dismissible fade show animate__animated d-none" role="alert" id="{{ detalle.id }}">
                    <strong>Enlace copiado!</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

