{% extends 'base.html' %}
{% load static %}

{% block title %}{{ detalle.title }} | RPA{% endblock title %}

{% block meta %}
    <meta property="og:url"           content="http://www.rpa.pe{% url 'actualidades:detalle' detalle.slug %}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ detalle.title }}" />
    <meta property="og:description"   content="{{ detalle.summary|safe }}" />
    <meta property="og:image"         content="{{ detalle.photo.url }}" />
{% endblock meta %}

{% if request.path == '/actualidades/'|add:detalle.slug|add:"/" %}
    {% block actualidadmenu %}active active--color{% endblock actualidadmenu %}
    {% block fondo %}
        style="background-image: url('{{ detalle.photo.url }}');"
    {% endblock fondo %}
    {% block main %}espaciado{% endblock main %}
{% endif %}

{% block header %}
    <div class="row position-relative portada portada--actualidad">
        <h1 class="fw-bold lh-sm text-white" href="">{{ detalle.title }}</h1>
        <div class="share mt-4">
            <a class="social__link social__link--size" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://167.99.119.117{% url 'actualidades:detalle' detalle.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square"></i></a>
            <a class="social__link social__link--size" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ detalle.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'actualidades:detalle' detalle.slug %}"><i class="fab fa-twitter-square"></i></a>
            <a class="social__link social__link--size" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'actualidades:detalle' detalle.slug %}"><i class="fab fa-whatsapp"></i></a>
            <a class="social__link social__link--size" target="_blank" onclick="Links('{{ detalle.id }}','{{ detalle.slug }}')" campo="http://www.rpa.pe{% url 'actualidades:detalle' detalle.slug %}" id="{{ detalle.id }}"><i class="fas fa-link"></i></a>
            <div class="alert alert-warning alert-dismissible fade show position-absolute top-100 start-50 translate-middle animate__animated d-none" role="alert" id="{{ detalle.slug }}">
                <strong>Enlace copiado!</strong>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-9 mb-3 mb-lg-0">
            <div class=" publicacion-contenido rounded">
                <div class="p-4">
                    {{ detalle.description|safe }}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="publicacion-autor rounded">
                <div class="publicacion-autor__card">
                    <img class="rounded mx-auto d-block rounded-circle publicacion-autor__img" src="{{ detalle.author.photo.url }}" alt="">
                    <div class="mt-3 d-flex flex-column">
                        <span class="fw-bold text-center">{{ detalle.author.grade }}</span>
                        <h3 class="fw-bold text-center publicacion-autor__name">{{ detalle.author.name }} {{ detalle.author.last_name }}</h3>
                        <a class="text-center card-equipo__data card-equipo__data--email" href="mailto:{{ detalle.author.email }}"><i class="fas fa-envelope me-2"></i>{{ detalle.author.email }}</a>
                    </div>
                </div>
                <div class="rounded-bottom publicacion-autor__share">
                    <div class="share d-lg-flex flex-lg-column">
                        <div class="mt-lg-2">
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://167.99.119.117{% url 'publicaciones:detalle' detalle.slug %}&amp;src=sdkpreparse"><i class="fab fa-facebook-square"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw&text=%22{{ detalle.title }}%22&tw_p=tweetbutton&url=http://www.rpa.pe{% url 'publicaciones:detalle' detalle.slug %}"><i class="fab fa-twitter-square"></i></a>
                            <a class="me-2 social__link social__link social__link--detailpubli" target="_blank" href="whatsapp://send?text=http://www.rpa.pe{% url 'publicaciones:detalle' detalle.slug %}"><i class="fab fa-whatsapp"></i></a>
                            <a class="social__link social__link social__link--detailpubli" target="_blank" onclick="getLink({{ detalle.id }})"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning alert-dismissible fade show animate__animated d-none" role="alert" id="{{ detalle.id }}">
                    <strong>Enlace copiado!</strong>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}